{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/base.css'%}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="sidebar">
        <center>
            <img src="" class="profile_image" alt="">
            {% block sidebar%}
            {% if user.is_authenticated %}
            <h2>{{user.first_name}} {{user.last_name}}</h2>
            {% endif %}
            {% endblock%}
        </center>
        <a href=""><i class="fas fa-user-circle"></i>My Profile</a>
        <a href=""><i class="fas fa-book"></i>Class</a>
        <a href="{% url 'course' %}"><i class="fas fa-list-alt"></i>Subject</a>
        <a href=""><i class="fas fa-paper-plane"></i>News</a>
        <a href=""><i class="fas fa-newspaper"></i>Announcement</a>
        <a href="{% url 'logoutuser' %}"><i class="fas fa-eject"></i>Logout</a>
    </div>
        {% block content %}
        {% endblock%}

</body>
</html>